$fuente-parrafos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuente-titulo1: "fuente_aye_doble";
$fuente-titulo2: "aye_myfont";

$color-fondo: rgba(168, 196, 255, 0.297);

$logo-responsive: 50%;